body{
    background: rgb(187, 109, 218);
    font: normal 15px Arial;
}
header{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.295);
}
footer{
    color: white;
    text-align: center;

}
